<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

<!---Header---->
<h1
  style="color:#163060; font-weight: bold; font-family:helvetica; font-size: xx-large; text-align:center;">
  UCSD Grant Applications Faculty Page
</h1>

  <body>
    <div class="card">
      <!---Card Header---->
        <h5 class="card-header blue white-text text-center py-4">
            <strong> Add Research Support for {{faculty_member}} </strong>
        </h5>

        <div class="card-body px-lg-5 pt-0">
            <form class="md-form" style="color: #757575;">


              <!---Begin to Add Faculty Trainee Information---->
              <h6><b> Add Reseach Support Information Below </b></h6>
              <br>

              <!---Trainee Student ID---->
              <div>
                <select class ="mdb-select md-form mb-4 initilaized" id="select">
                  <option value="" disabled selected> Funding Source </option>
                  <option value="1"> FDN </option>
                  <option value="2"> NIH </option>
                  <option value="3"> NSF </option>
                  <option value="4"> University </option>
                  <option value="5"> None </option>
                  <option value="6"> Other </option>
                </select>
              </div>

              <!---Trainee Name---->
              <label for="input"> Grant Number </label>
              <input type="text" id="input" class="form-control" placeholder="">

              <!---Training Period---->
              <label for="input"> Role on Project </label>
              <input type="text" id="input" class="form-control" placeholder="">

              <label for="input"> Grant Title </label>
              <input type="text" id="input" class="form-control" placeholder="">

              <label for="input"> Project Start Date </label>
              <input type="text" id="input" class="form-control" placeholder="">

              <label for="input"> Project End Date </label>
              <input type="text" id="input" class="form-control" placeholder="">

              <label for="input"> Current Direct Year Costs </label>
              <input type="text" id="input" class="form-control" placeholder="">

              <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit"> Submit </button>

            </form>
        </div> <!--- /card-body px-lg-5 pt-0 ---->
    </div> <!--- /class = "card" ---->
<!-------------------------------------------------------------------------------------------------------------------->
            <!-- NEEDED FOR BOOTSTRAP/JAVASCRIPT - DO NOT TO CHANGE -->

              <!-- SCRIPTS -->
              <!-- JQuery -->
              <script type="text/javascript" link href="{{ url_for('static', filename= 'js/jquery-3.4.1.min.js') }}"></script>
              <!-- Bootstrap tooltips -->
              <script type="text/javascript" link href="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
              <!-- Bootstrap core JavaScript -->
              <script type="text/javascript" link href="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
              <!-- MDB core JavaScript -->
              <script type="text/javascript" link href="{{ url_for('static', filename= 'js/mdb.min.js') }}"></script>
</body>
{% endblock %}
